/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
:root {
  font-size: 100%;
}
@media (max-width: 500px) {
  :root {
    font-size: 62.5%;
  }
}
header {
  padding-bottom: 3px;
}
nav {
  padding: 20px 0;
  text-align: right;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}
nav a {
  font-size: 1.1rem;
  color: black;
  text-decoration: none;
  padding: 10px 15px;
}
nav a:last-child {
  padding-right: 0;
}
@media (max-width: 500px) {
  nav {
    text-align: center;
    justify-content: center;
  }
  nav a:last-child {
    padding-right: 15px;
  }
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 1.4rem;
  margin-bottom: 0.65rem;
  font-weight: 700;
}
h3 {
  font-size: 1.4rem;
  letter-spacing: 0.07rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
}
p {
  font-size: 1.1rem;
  line-height: 1.5rem;
  margin-bottom: 0.5rem;
}
.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 64px;
  font-family: 'Titillium Web', Arial, sans-serif;
}
.container .col2 {
  width: 100%;
  max-width: 50%;
  flex-basis: 50%;
}
@media (max-width: 500px) {
  .container .col2 {
    max-width: 100%;
    flex-basis: 100%;
  }
}
.container #intro {
  padding: 3.75rem 1.9rem 5rem;
  background-color: #f0f0f0;
  border-radius: 5px;
}
.container #intro img {
  display: block;
  width: 100%;
  max-width: 300px;
  max-height: 300px;
  margin-bottom: 1rem;
  object-fit: cover;
  object-position: top center;
}
.container #intro h1,
.container #intro h2 {
  margin-bottom: 1rem;
}
.container #intro h2 {
  font-weight: normal;
  padding-bottom: 30px;
  border-bottom: 1px solid grey;
}
.container #intro p {
  padding-top: 0.5rem;
  padding-bottom: 0.6rem;
}
.container .btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  display: inline-block;
  color: white;
  font-size: 1.25rem;
  letter-spacing: 0.03em;
  font-weight: 700;
  text-decoration: none;
  padding: 0.65em 0.95em;
  margin-left: 0.1em;
  border-radius: 0.3em;
  background-color: grey;
}
.container #about {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 2.25rem 0 1.625rem;
}
.container #about h2 {
  font-size: 2.1rem;
}
.container #about ul {
  border-bottom: 1px solid #a5a5a5;
}
.container #about ul li {
  font-size: 1.2rem;
  padding: 0.75em 1.15em 0.8em;
  border: 1px solid #a5a5a5;
  border-bottom: 0;
}
.container #about .col2:first-child {
  padding-right: 1rem;
}
.container #about .col2:last-child {
  padding-left: 1rem;
}
@media (max-width: 500px) {
  .container #about .col2:first-child,
  .container #about .col2:last-child {
    padding: 0;
  }
  .container #about .col2:last-child {
    padding-top: 1rem;
  }
}
.container #work {
  padding-bottom: 2.25rem;
}
.container #work h2 {
  font-size: 1.55rem;
  margin-bottom: 0.7rem;
}
.container #work table {
  width: 100%;
}
.container #work table thead {
  border-top: 1px solid #a5a5a5;
}
.container #work table th,
.container #work table td {
  font-size: 1.1rem;
  line-height: 2em;
  padding: 0.45em 0;
  text-align: left;
  border-bottom: 1px solid #a5a5a5;
}
.container #work table tr > :first-child {
  padding-left: 0.7em;
}
.container #work table tbody tr:nth-child(2n+1) {
  background-color: #f0f0f0;
}
.container #work table th {
  font-weight: 700;
}
.container #work table th:first-child {
  width: 70%;
}
.container #work table th:last-child {
  width: 30%;
}
.container #work a:not(.btn) {
  color: black;
  text-decoration: none;
  transition: all 0.33s ease-in-out;
}
.container #work a:not(.btn):hover {
  color: #2e6e83;
  text-decoration: underline;
}
.container #work .btn {
  margin-top: 1rem;
}
.container #contacts {
  padding-bottom: 2.25rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.container #contacts h2,
.container #contacts form {
  width: 100%;
}
.container #contacts form {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.container #contacts .group {
  font-size: 1rem;
  line-height: 1.5em;
  padding: 0 0em 1em;
  max-width: 100%;
  flex-basis: 100%;
}
.container #contacts .group.col3 {
  max-width: calc((100% / 3) - 20px);
  flex-basis: calc((100% / 3) - 20px);
}
@media (max-width: 500px) {
  .container #contacts .group.col3 {
    max-width: 100%;
    flex-basis: 100%;
  }
}
.container #contacts label {
  display: block;
}
.container #contacts input,
.container #contacts textarea {
  width: 100%;
  line-height: inherit;
  padding: 0 0.5em;
}
.container #contacts textarea {
  min-width: 100%;
  min-height: 100px;
}
.container #contacts .btn {
  font-size: 1rem;
}
footer {
  font-size: 1.1rem;
  margin: 0 -0.9em;
  padding-top: 1.14em;
  padding-bottom: 2.28em;
  color: white;
  text-align: center;
  background-color: #353535;
}
