/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
:root {
  font-size: 100%;
}
.col2 {
  width: 100%;
  max-width: 50%;
  flex-basis: 50%;
}
.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 64px;
  font-family: 'Titillium Web', Arial, sans-serif;
}
header {
  padding-bottom: 3px;
}
nav {
  padding: 20px 0;
  text-align: right;
  display: flex;
  justify-content: flex-end;
}
nav a {
  font-size: 1.1rem;
  color: black;
  text-decoration: none;
  padding: 10px 15px;
}
nav a:last-child {
  padding-right: 0;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 1.4rem;
  margin-bottom: 0.65rem;
  font-weight: 700;
}
h3 {
  font-size: 1.4rem;
  letter-spacing: 0.07rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
}
p {
  font-size: 1.1rem;
  line-height: 1.5rem;
  margin-bottom: 0.5rem;
}
.intro {
  padding: 60px 30px 80px;
  background-color: lightgrey;
  border-radius: 5px;
}
.intro img {
  display: block;
  width: 300px;
  height: 300px;
}
.intro h1,
.intro h2 {
  margin-bottom: 1rem;
}
.intro h2 {
  font-weight: normal;
  padding-bottom: 30px;
  border-bottom: 1px solid grey;
}
.intro p {
  padding-top: 0.5rem;
  padding-bottom: 0.6rem;
}
.btn {
  display: inline-block;
  color: white;
  font-size: 20px;
  letter-spacing: 0.03rem;
  font-weight: 700;
  text-decoration: none;
  padding: 0.8rem 1.2rem;
  margin-left: 0.1rem;
  border-radius: 0.3rem;
  background-color: grey;
}
.about {
  display: flex;
  justify-content: space-between;
  padding: 2.25rem 0 1.625rem;
}
.about h2 {
  font-size: 2.1rem;
}
.about ul {
  border-bottom: 1px solid lightgrey;
}
.about ul li {
  font-size: 1.2rem;
  padding: 0.75em 1.15em 0.8em;
  border: 1px solid lightgrey;
  border-bottom: 0;
}
.about .col2:first-child {
  padding-right: 1rem;
}
.about .col2:last-child {
  padding-left: 1rem;
}
.work {
  padding-bottom: 2.25rem;
}
.work h2 {
  font-size: 1.55rem;
  margin-bottom: 0.7rem;
}
.work table {
  width: 100%;
}
.work table thead {
  border-top: 1px solid lightgrey;
}
.work table th,
.work table td {
  font-size: 1.1rem;
  line-height: 2em;
  padding: 0.45em 0;
  text-align: left;
  border-bottom: 1px solid lightgrey;
}
.work table tr :first-child {
  padding-left: 0.7em;
}
.work table th {
  font-weight: 700;
}
.work table th:first-child {
  width: 10%;
}
.work table th:nth-child(2) {
  width: 14%;
}
.work table th:nth-child(3) {
  width: 33%;
}
.work table th:last-child {
  width: 33%;
}
footer {
  font-size: 1.1rem;
  margin: 0 -0.9em;
  padding-top: 1.14em;
  padding-bottom: 2.28em;
  color: white;
  text-align: center;
  background-color: #353535;
}
