@import './reset';
@import './vars';
@import './mixins';

:root {
	font-size: 100%;
}

.col2 {
	width: 100%;
	.flex-col(50%);
}

.container {
	width: 100%;
	margin: 0 auto;
	max-width: 1000px;
	padding: 0 64px;
	font-family: 'Titillium Web', Arial, sans-serif;
}

header {
	padding-bottom: 3px;
}
nav {
	padding: 20px 0;
	text-align: right;
	.flex();
	justify-content: flex-end;
	a {
		font-size: 1.1rem;
		color: black;
		text-decoration: none;
		padding: 10px 15px;

		&:last-child {
			padding-right: 0;
		}
	}
}

h1 {
	font-size: 4rem;
}
h2 {
	font-size: 1.4rem;
	margin-bottom: 0.65rem;
	font-weight: 700;
}
h3 {
	font-size: 1.4rem;
	letter-spacing: 0.07rem;
	margin-bottom: 0.5rem;
	font-weight: 700;
}
p {
	font-size: 1.1rem;
	line-height: 1.5rem;
	margin-bottom: 0.5rem;
}

.intro {
	padding: 60px 30px 80px;
	background-color: lightgrey;

	border-radius: 5px;
	img {
		display: block;
		width: 300px;
		height: 300px;
	}
	h1, h2 {
		margin-bottom: 1rem;
	}
	h2 {
		font-weight: normal;
		padding-bottom: 30px;
		border-bottom: 1px solid @secondaryColor;
	}
	p {
		padding-top: 0.5rem;
		padding-bottom: 0.6rem;
	}
}

.btn {
	display: inline-block;
	color: @contrastColor;
	font-size: 20px;
	letter-spacing: .03rem;
	font-weight: 700;
	text-decoration: none;
	padding: 0.8rem 1.2rem;
	margin-left: 0.1rem;
	border-radius: .3rem;
	background-color: @secondaryColor;
}

.about {
	.flex();
	justify-content: space-between;
	padding: 2.25rem 0 1.625rem;

	h2 {
		font-size: 2.1rem;
	}

	ul {
		border-bottom: 1px solid lightgrey;
		li {
			font-size: 1.2rem;
			padding: .75em 1.15em .8em;
			border: 1px solid lightgrey;
			border-bottom: 0;
		}
	}

	.col2 {
		&:first-child {
			padding-right: 1rem;
		}
		&:last-child {
			padding-left: 1rem;
		}
	}
}

.work {
	padding-bottom: 2.25rem;
	h2 {
		font-size: 1.55rem;
		margin-bottom: .7rem;
	}
	table {
		width: 100%;
		thead {
			border-top: 1px solid lightgrey;
		}
		th, td {
			font-size: 1.1rem;
			line-height: 2em;
			padding: .45em 0;
			text-align: left;
			border-bottom: 1px solid lightgrey;
		}
		tr :first-child {
			padding-left: .7em;
		}
		th {
			font-weight: 700;
			&:first-child {
				width: 10%;
			}
			&:nth-child(2) {
				width: 14%;
			}
			&:nth-child(3) {
				width: 33%;
			}
			&:last-child {
				width: 33%;
			}
		}
	}
}

footer {
	font-size: 1.1rem;
	margin: 0 -.9em;
	padding-top: 1.14em;
	padding-bottom: 2.28em;
	color: @contrastColor;
	text-align: center;
	background-color: rgb(53, 53, 53);
}